/* Custom icon styles */
.fas.fa-edit, .fas.fa-trash, .fas.fa-eye {
    cursor: pointer;
    padding: 0 10px;
}

.fas.fa-edit:hover {
    color: darkgreen;
}

.fas.fa-trash:hover {
    color: darkred;
}

.fas.fa-eye:hover {
    color: darkblue;
}

/* Custom form styling */
form {
   /* border: 1px solid #ed1c1c; */
    border-radius: 10px;
    padding: 10px;
    
}
#addPdt{
    margin:1% ;padding: .5%;padding-bottom: 1%;
    border: 1px; border-style: solid;border-radius: 10px;
    background-color:  aliceblue;
}
button {
    float: right;
}

#addPdtForm button {
    float: right;
    margin-top: 6px;font-size: medium;padding:1% 3%;
}
#stockDiv{margin:1% 1% 1% 0;padding: .5%;padding-bottom: 1%;}
/* Table styling */
table th {
    background-color: aliceblue;margin:1%;
}

.table td {
    vertical-align: middle;
}

/* Modal styling */
.modal-content {
    width: 100%;
}

/* Additional styling */
#mainDiv {
    display: flex;
    justify-content: space-between;
}
